<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  <meta name="description" content="Ibis Coordination">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Ibis Coordination" />
  <meta name="twitter:description" content="Ibis Coordination" />
  <meta name="twitter:image" content="/ibis.png" />

  <meta property="og:type" content="article" />
  <meta property="og:title" content="Ibis Coordination" />
  <meta property="og:description" content="Ibis Coordination" />
  <meta property="og:url" content="https://ibis-coordination.com" />
  <meta property="og:image" content="/ibis.png" />

  <title>{{page.title}}</title>
  <meta name="color-scheme" content="light">
  <link rel="stylesheet" href="/css/github-markdown-light.css">
  <style>
    body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
    }

    /* @media (prefers-color-scheme: dark) {
      body {
        background-color: #0d1117;
      }
    } */
  </style>
</head>
<body>
  <article class="markdown-body">
    {{content}}
  </article>
</body>
</html>